<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<title></title>
</head>
<body>
<h2><center>THE HELP QUEUE</center></h2>
{%if students%}
{%for student in students%}
<center>
<h2>{{students[student]['name']}}</h2>
<a href="/delete/{{student}}"><button id="btn">click here if u helped</button></a>
</center>
{%endfor%}
{%endif%}
<div>
	<a href="/home"><button id="btn" ><h2>go back home !</h2></button></a>
</div>
<div>
	<a href="/signout"><button id="btn"><h2>signout!</h2></button></a>
</div>
</body>
</html>