<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1><center>hellooooooooooo</center></h1>
<h2><center>need help ? file your name and a TA/instructor will be right with you (;</center> </h2>
<form method="post" action="/home">
    <input type="urname" name="urname" placeholder="urname" id="btn" />
    <a href="/add_student"><button id="btn"><h2>submit your name</2></button></a>
</form>
<div>
    <a href="/display_users"><button id="btn"><h4><center>go straight to the Help Queue</center></h4></button></a>
</div>
<div>
    <a href="/signout"><button id="btn"><h4><center>signout!</center></h4></button></a>
</div>
</body>
</html>