<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="/">
        <h4>
        Login into ur Account !(:
        </h4>
        <p >
        Please fill up your information below to login.
        </p>
        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="btn" required>
            </div>
        </div>
        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" id="btn" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit" id="btn" />
        </div>
    </form>
    <br>
    <a href="/signup"><center><button id="btn"><h3>signup</h3></button></center></a>
    
</body>
</html>