/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(45deg, #ffcc5c, #3498db, #e74c3c, #9b59b6, #1abc9c, #f39c12);
  background-size: 600% 600%;
  animation: animateBackground 20s linear infinite;
  margin: 0;
  padding: 20px;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Form styles */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease;
}

/* Heading styles */
h4 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Subheading styles */
p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #34495e;
}

/* Label styles */
label {
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
}

/* Input styles */
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease;
  color: #333;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.95);
}

/* Submit button styles */
input[type="submit"] {
  background-color: #e67e22;
  color: #fff;
  border: none;
  padding: 6px 8px; /* More smaller width */
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #d35400;
}

/* Centering the "signin" button */
center {
  display: block;
  text-align: center;
}

/* "Signin" button styles */
#btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 6px 8px; /* More smaller width */
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

#btn h3 {
  margin: 0;
}

#btn:hover {
  background-color: #2980b9;
}

/* Anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
}